# Virtual environment
.env
.venv

# Pipenv files (if you are using Pipenv)
Pipfile
Pipfile.lock

# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Django logs and database
db.sqlite3
*.sqlite3
*.log

# Media & Static files (optional)
media/
staticfiles/

# Docker-related files
*.pid
docker-compose.override.yml
Dockerfile  # You may want to keep Dockerfile under version control, though.

# Celery related files
celerybeat-schedule

# Nginx config (if it's local or contains sensitive information)
nginx.conf

# Ignore PyCharm IDE files
.idea/

# Ignore VSCode settings
.vscode/

# Ignore system files (Mac & Linux)
.DS_Store

# Ignore JetBrains IDE files
*.iml

# Ignore local settings (if any)
local_settings.py

# Ignore coverage reports (for testing)
.coverage
*.cover
*.hypothesis/
